<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    
</head>
<body>
    <br>
    <br>
    <br>
    <h2>Article:</h2>
    <hr>
    <br>
    <h2>{{article.head}}                                    {{article.date}}</h2><br>
    <h3>{{article.topic}}</h3><br><br>
    <p>{{article.text}}</p><br><br><hr>
    <h3>{{article.author}}</h3>

</body>
</html>